
#espresso_accordion,
#espresso_accordion ul,
#espresso_accordion li,
#espresso_accordion a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  font-family: inherit;
  position: relative;
  display: block;
}
#espresso_accordion {
  width: 97%;
}
#espresso_accordion a {
  line-height: 2;
}
#espresso_accordion > ul > li {
   background: #fcfcfc;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #ddd;
  }
#espresso_accordion > ul > li:hover {
  background: #f3f3f3;
 }
#espresso_accordion > ul > li > a {
  display: block;
}
#espresso_accordion h4 {
	font-weight: 400;
	font-size: 1.3em;
	display: block;
  	padding: 12px 10px;
  	margin: 0;
}
#espresso_accordion > ul > li > a:hover {
  text-decoration: none;
}
#espresso_accordion > ul > li.active {
  border-bottom:  1px solid #ddd;
}
#espresso_accordion > ul > li.active h4.ee_category {
	border-bottom:  1px solid #ddd;
}
#espresso_accordion > ul > li.has-sub > a span {
  background: url(icon_plus.png) 96% center no-repeat;
}
#espresso_accordion > ul > li.has-sub.active > a span {
  background: url(icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#espresso_accordion ul ul {
  display: none;
  background: #fff;
}
#espresso_accordion ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
}
#espresso_accordion ul ul li:last-child {
  border-bottom: none;
}
#espresso_accordion ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
#espresso_accordion ul ul a:before {
  content: '»';
  position: absolute;
  left: 10px;
  color: #e94f31;
}
#espresso_accordion ul ul a:hover {
  color: #e94f31;
}
